extends ../layout


block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              - const avatarSrc = comment.userAvatar ? `/img/${comment.userAvatar}` : ``;
              img.publication__list-image(src=avatarSrc width='20' height='20' alt='Аватар пользователя')
              b.publication__list-name #{comment.username}
              time.publication__item-time(datetime=comment.createdAt) #{dayjs(comment.createdAt).format('DD.MM.YYYY, HH:mm')}

            p.publication__item-text
              | #{comment.text}
            p
              a.publication__text-strong(href=`/articles/${comment.articleId}`)
                | #{comment.articleTitle}

            a.publication__button.button.button--close-item(href=`/my/comments/delete/${comment.id}`)
              span.visually-hidden Удалить

block scripts

