extends ../layout


block content
  main
    h1.visually-hidden Регистрация пользователя
    section.modal
      .popup.popup--registration
        a.popup__button.button.button--popup-close(href=`/` aria-label='Закрыть окно')
          | Закрыть
          | окно
        h2.visually-hidden Форма регистрации
        ul.popup__tabs
          li.popup__tab.popup__tab--active.popup__tab--register
            button.popup__tab-switcher.button(type='button') Регистрация

        .popup__form.popup__form--active.form.form--register
          form(action='/register' method='POST' enctype='multipart/form-data')
            .form__field
              label
                input(type='email' name='email'  placeholder='Электронная почта' required='' value=user.email)
            .form__field
              label
                input(type='text' name='firstname' placeholder='Имя' required='' value=user.firstname)
            .form__field
              label
                input(type='text' name='lastname' placeholder='Фамилия' required='' value=user.lastname)
            .form__field
              label
                input(type='password' name='password' placeholder='Пароль' required='' value=user.password)
            .form__field
              label
                input(type='password' name='repeat' placeholder='Повтор пароля' required='' value=user.repeat)
            .form__image-loader
              a.form__avatar.avatar
                img(src='/img/icons/smile.svg' alt='аватар пользователя')
              label
                input.visually-hidden(type='file' name='avatar' value=`/img/${user.avatar}`)
                | Загрузить фото профиля

            input(type="hidden" name="_csrf" value=csrf)

            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться

            if errorMessages
              .form__validation-error
                p.form__error-message При регистрации произошли ошибки:
                ul.form__errors
                  each error in errorMessages
                    li.form__error #{error}

      .modal__overlay

block scripts
  script(src='/js/main.js')
